<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

<img src="mioti.png" style="height: 100px">
<center style="color:#888">Data Science with Python</center>

# DSPy3 Pandas basics. Challenge.

**Inicialización**

Vamos a trabajar con un dataset que contiene una lista de películas con, entre otros atributos, el número de muertes visibles en ellas. Se encuentra en el fichero `filmdeathcounts.csv`.

<img src="killer_body_count.jpg" style="width:800px">

In [1]:
import pandas as pd
df = pd.read_csv("filmdeathcounts.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 8 columns):
Film              545 non-null object
Year              545 non-null int64
Body_Count        545 non-null int64
MPAA_Rating       545 non-null object
Genre             545 non-null object
Director          545 non-null object
Length_Minutes    545 non-null int64
IMDB_Rating       545 non-null float64
dtypes: float64(1), int64(3), object(4)
memory usage: 34.2+ KB

,Film,Year,Body_Count,MPAA_Rating,Genre,Director,Length_Minutes,IMDB_Rating
0,24 Hour Party People,2002,7,R,Biography|Comedy|Drama|Music,Michael Winterbottom,117,7.3
1,28 Days Later,2002,53,R,Horror|Sci-Fi|Thriller,Danny Boyle,113,7.6
2,28 Weeks Later,2007,212,R,Horror|Sci-Fi|Thriller,Juan Carlos Fresnadillo,100,7.0
3,30 Days of Night,2007,67,R,Horror|Thriller,David Slade,113,6.6
4,300,2007,600,R,Action|Fantasy|History|War,Zack Snyder,117,7.7

**Ejercicio 1:** Muestra un dataframe con los 10 films con menos muertes, y su número de muertes, ordenados de menos a más.

In [2]:
df.sort_values(by=['Body_Count']).head(10)

,Film,Year,Body_Count,MPAA_Rating,Genre,Director,Length_Minutes,IMDB_Rating
24,Alien,1979,1,R,Horror|Sci-Fi,Ridley Scott,117,8.5
6,8MM,1999,1,R,Crime|Mystery|Thriller,Joel Schumacher,123,6.4
495,The Yards,2000,2,R,Crime|Drama|Romance|Thriller,James Gray,115,6.4
502,To Die For,1995,2,R,Comedy|Crime|Drama,Gus Van Sant,106,6.7
541,Zodiac,2007,3,R,Crime|Drama|Mystery|Thriller,David Fincher,157,7.7
255,Mean Machine,2001,3,R,Comedy|Drama|Sport,Barry Skolnick,99,6.4
128,Donnie Darko,2001,3,R,Drama|Mystery|Sci-Fi,Richard Kelly,113,8.1
213,Kill Bill: Vol. 2,2004,3,R,Action|Crime|Thriller,Quentin Tarantino,137,8.0
471,The Phantom of the Opera,2004,3,PG-13,Drama|Musical|Romance,Joel Schumacher,143,7.3
47,Barton Fink,1991,3,R,Drama|Mystery,Joel Coen|Ethan Coen,116,7.7

**Ejercicio 2:** Encuentra el film con el mayor número de muertes.

In [3]:
df.sort_values(by=['Body_Count']).tail(1)

,Film,Year,Body_Count,MPAA_Rating,Genre,Director,Length_Minutes,IMDB_Rating
241,Lord of the Rings: Return of the King,2003,836,PG-13,Action|Adventure|Fantasy,Peter Jackson,201,8.9

**Ejercicio 3:** Esta pregunta equivaldría a "¿cuál es el film más violento?". Si no, ¿cuál es?

In [51]:
# No,seria el film con mas muertes en menos tiempo

df.sort_values(by=['Length_Minutes']).head()
df['rate'] = df['Body_Count']/df['Length_Minutes']
df['rate'] = df['rate'].round(2)
df.nlargest(1,'rate')

,Film,Year,Body_Count,MPAA_Rating,Genre,Director,Length_Minutes,IMDB_Rating,rate
4,300,2007,600,R,Action|Fantasy|History|War,Zack Snyder,117,7.7,5.13

Para los siguientes ejercicios contamos con otro CSV, `tmdb_5000_movies.csv`, con más películas y más información sobre las mismas.

**Ejercicio 4:** Usando el anterior dataset, ¿qué porcentaje de películas está por encima de la media global en términos de beneficio? Redondea a dos decimales.

In [5]:
df.IMDB_Rating.mean()

6.835963302752291

In [30]:
filter = df["IMDB_Rating"] > df.IMDB_Rating.mean()

In [50]:
round((len(df[filter].index)*100 / len(df.index)),2)

51.19