In [1]:
from IPython.core.display import HTML
HTML("\n".join(open('mioti_style.css', 'r').readlines()))

<img src="" style="height: 100px">
<center style="color:#888">M√≥dulo Data Science in IoT<br/>Asignatura Machine Learning</center>

# Challenge S4: Predicci√≥n de precios AirBNB

## Objetivos

El objetivo de este challenge es predecir el precio de las viviendas de AirBnB Madrid a partir de alguna de sus caracter√≠sticas.

Este challenge utiliza un dataset real que no est√° pensado para aplicar t√©cnicas de machine learning as√≠ que no esperes que las cosas funcionen bien a la primera ü§ì.

## Configuraci√≥n del entorno

In [2]:
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import scikitplot as skplt

## Dataset

Para este worksheet utilizaremos el dataset de airbnb Madrid.

In [3]:
df = pd.read_csv('dataset_airbnb_madrid.csv')

Para simplificar el problema vamos a formular el problema del challenge de una manera m√°s concreta:

Vamos a intentar predecir el precio:

In [4]:
df_y = df['price']

A partir de 5 variables que a priori parecen relevantes para determinar el precio de un alojamiento: `['review_scores_rating', 'room_type', 'property_type', 'bedrooms', 'bathrooms']`

Como siempre, si tu quieres considerar otras variables adelante.

In [5]:
df_X = df[['review_scores_rating', 'room_type', 'property_type', 'bedrooms', 'bathrooms' ]]

In [6]:
df_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13335 entries, 0 to 13334
Data columns (total 5 columns):
review_scores_rating    10417 non-null float64
room_type               13335 non-null object
property_type           13335 non-null object
bedrooms                13312 non-null float64
bathrooms               13285 non-null float64
dtypes: float64(3), object(2)
memory usage: 521.0+ KB

## Preprocesamiento de datos

Como siempre, vamos a inspeccionar y estudiar cada variable por separado.

### Price

Es la variable de clase. Divide esta variable en 4 rangos (muy bajo, bajo, medio, alto, muy alto) que pienses que son razonables para estudiar esta variable. Como consejo, quiz√°s puedes utilizar los percentiles para hacer esta divisi√≥n.

Antes de hacer esta divisi√≥n revisa que esta variable est√© codificada como un n√∫mero, si no lo est√° la tendr√°s que convertir previamente.

Una vez que tengas la variable transformada, convi√©rtela a un array de numpy para trabajar.

### review_scores_rating

Esta variable parece un n√∫mero. Revisa:

* Si tiene nulos o no. Si los tiene tr√°talos adecuadamente.
* Revisa el rango de la variable.

### room_type

Esta variable parece un valor enumerado. Revisa:

* Si tiene nulos o no. Si los tiene tr√°talos adecuadamente.
* Si tiene muchos clases distintas piensa en reducirlas.

Una vez que est√© bien crea variables ficticias a partir de esta.

### property_type

Esta variable parece un valor enumerado. Revisa:

* Si tiene nulos o no. Si los tiene tr√°talos adecuadamente.
* Si tiene muchos clases distintas piensa en reducirlas.

Una vez que est√© bien crea variables ficticias a partir de esta.

### bedrooms

Esta variable parece un n√∫mero. Revisa:

* Si tiene nulos o no. Si los tiene tr√°talos adecuadamente.
* Revisa el rango de la variable.

### bathrooms

Esta variable parece un n√∫mero. Revisa:

* Si tiene nulos o no. Si los tiene tr√°talos adecuadamente.
* Revisa el rango de la variable.

### Chequeos finales y conversi√≥n a numpy

Una vez que hemos revisado cada variable hacemos algunas comprobaciones finales:

In [7]:
df_X.isnull().any()

review_scores_rating     True
room_type               False
property_type           False
bedrooms                 True
bathrooms                True
dtype: bool

In [8]:
df_X.tail()

,review_scores_rating,room_type,property_type,bedrooms,bathrooms
13330,97.0,Private room,Bed & Breakfast,2.0,1.0
13331,100.0,Private room,House,1.0,1.0
13332,NaN,Private room,Apartment,1.0,1.0
13333,100.0,Entire home/apt,Apartment,1.0,1.0
13334,NaN,Private room,House,1.0,1.0

Y convertimos a un array de `numpy`:

In [9]:
dataset_X = np.array(df_X)

In [10]:
dataset_X.shape

(13335, 5)

In [11]:
dataset_X

array([[92.0, 'Private room', 'House', 1.0, 2.0],
       [93.0, 'Entire home/apt', 'Apartment', 3.0, 1.0],
       [93.0, 'Entire home/apt', 'Apartment', 1.0, 1.0],
       ...,
       [nan, 'Private room', 'Apartment', 1.0, 1.0],
       [100.0, 'Entire home/apt', 'Apartment', 1.0, 1.0],
       [nan, 'Private room', 'House', 1.0, 1.0]], dtype=object)

## Conjunto de entrenamiento y test

Crea un conjunto de entrenamiento y test con una proporci√≥n del 30%.

## Entrenamiento y clasificaci√≥n

Utiliza un RandomForest como algoritmo de clasificaci√≥n y entrena el modelo.

## Evalua el modelo

Calcula score, ROC y matriz de confusi√≥n

### Preguntas

* ¬øConsideras que los resultados son buenos o malos?
* Qu√© podemos hacer para mejorarlo?

## An√°lisis de variables (extra)

Algunos m√©todos incluyen una variable denominada `feature_importances_` que nos proporciona una estimaci√≥n de la importancia de esa variable.

Analiza las variables, su importancia y propone maneras para mejorar el dataset.