<img src="mioti.png" style="height: 100px">
<center style="color:#888">Data Science with Python</center>

# DSPy3. Pandas basics

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Estructuras-de-datos-de-Pandas:-series" data-toc-modified-id="Estructuras-de-datos-de-Pandas:-series-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Estructuras de datos de Pandas: <code>series</code></a></span><ul class="toc-item"><li><span><a href="#Declaraci√≥n-de-series" data-toc-modified-id="Declaraci√≥n-de-series-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Declaraci√≥n de <code>series</code></a></span></li><li><span><a href="#Indexing,-slicing,-ohmy!-üò±" data-toc-modified-id="Indexing,-slicing,-ohmy!-üò±-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Indexing, slicing, ohmy! üò±</a></span></li></ul></li><li><span><a href="#Estructuras-de-datos-de-Pandas:-dataframes" data-toc-modified-id="Estructuras-de-datos-de-Pandas:-dataframes-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Estructuras de datos de Pandas: <code>dataframes</code></a></span><ul class="toc-item"><li><span><a href="#Declaraci√≥n-de-dataframes" data-toc-modified-id="Declaraci√≥n-de-dataframes-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Declaraci√≥n de dataframes</a></span></li><li><span><a href="#Indexing-&amp;-slicing" data-toc-modified-id="Indexing-&amp;-slicing-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Indexing &amp; slicing</a></span></li></ul></li><li><span><a href="#Boolean-indexing" data-toc-modified-id="Boolean-indexing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Boolean indexing</a></span></li><li><span><a href="#Ausencia-de-valores" data-toc-modified-id="Ausencia-de-valores-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Ausencia de valores</a></span></li></ul></div>

<img src="pandas.png" style="height: 250px; float: left">

Es el paquete de Python que usaremos a lo largo del programa para _data wrangling_ (limpieza y transformaci√≥n de datos) y an√°lisis de datos. 

Pandas trabaja sobre NumPy, lo que significa que est√° orientado a la computaci√≥n vectorial en lugar de al trabajo iterando con bucles.

Sin embargo, la principal diferencia con NumPy es que **Pandas s√≠ que est√° orientado al trabajo con datos en formato tabular heterog√©neos** (de distintos tipos), mientras que los arrays de NumPy est√°n m√°s optimizados a c√°lculos sobre datos num√©ricos homog√©neos.

<img src="pandas_logo.png" style="width: 800px">

In [1]:
import pandas as pd

##¬†Estructuras de datos de Pandas: `series`

<img src="series.png" style="height: 150px">

Est√°n implementadas por medio de NumPy arrays, y, como √©stos, tienen un tipo √∫nico de datos:

In [2]:
animals = ["Tigre", "Oso", "Cebra"]
pd.Series(animals)

0    Tigre
1      Oso
2    Cebra
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
animals_and_numbers = [1, "Tigre", 2]
pd.Series(animals_and_numbers)

0        1
1    Tigre
2        2
dtype: object

### Declaraci√≥n de `series`

In [5]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [6]:
s = pd.Series(['Tigre', 'Oso', 'Cebra'], index=['India', 'America', 'Canada'])
s

India      Tigre
America      Oso
Canada     Cebra
dtype: object

Si pasamos un diccionario y a la vez especificamos el argumento `index`, intentar√° casar las claves del diccionario con √©ste:

In [7]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

Podemos tener √≠ndices repetidos:

In [8]:
s = pd.Series(['Tigre', 'Oso', 'Cebra'], index=['India', 'India', 'Canada'])
s

India     Tigre
India       Oso
Canada    Cebra
dtype: object

Las series pueden tener nombre:

In [9]:
s.name = "test_series"
s

India     Tigre
India       Oso
Canada    Cebra
Name: test_series, dtype: object

### Indexing, slicing, ohmy! üò±

In [10]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [14]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [15]:
s.values

array(['Bhutan', 'Scotland', 'Japan', 'South Korea'], dtype=object)

Podemos acceder por nombre del √≠ndice:

In [16]:
s.loc['Golf']

'Scotland'

O por posici√≥n:

In [17]:
s.iloc[1]

'Scotland'

Si usamos el operador de indexado `[]` directamente, Pandas usar√° internamente `loc` o `iloc` de manera inteligente:

In [18]:
s['Golf']

'Scotland'

In [19]:
s[1]

'Scotland'

Pero ojo cuidao...

In [20]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [22]:
s.iloc[0]

'Bhutan'

Si definimos un √≠ndice num√©rico, Pandas se negar√° a usar directamente el operador de indexado porque no sabr√° si nos referimos a un √≠ndice etiquetado o a un √≠ndice posicional. Pero `iloc` s√≠ que funcionar√≠a, puesto que eliminar√≠mos as√≠ esa ambiguedad:

In [ ]:
s.iloc[0]

Como los √≠ndices pueden no ser √∫nicos, cuando usamos `loc`, Pandas nos devolver√° todos los elementos con ese √≠ndice:

In [23]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [ ]:
s = all_countries.loc["Cricket"]
s

Ojo cuidado (again):

In [ ]:
s[0]

Aqu√≠ el √≠ndice no es num√©rico y a√∫n as√≠, el indexado posicional usando directamente el operador de indexado `[]` no funciona, debido a un bug en la librer√≠a de Pandas: https://github.com/pandas-dev/pandas/issues/11201. Sin embargo, `iloc` sigue funcionando como se espera:

In [ ]:
s.iloc[0]

<div class="alert alert-block alert-success">
    
**¬øConclusi√≥n? Usad `loc[]` o `iloc[]` siempre en lugar del operador de indexado `[]` directamente**

</div>

## Estructuras de datos de Pandas: `dataframes`

<img src="dataframe.png" style="height: 200px">

###¬†Declaraci√≥n de dataframes

Hay muchas maneras de construir un `dataframe` pero quiz√° la m√°s popular sea la siguiente:

In [25]:
data = {'Cost': [22.5, 2.5, 5.0],
        'Item Purchased': ["Dog Food", "Kitty Litter", "Bird Seed"],
        'Name': ["Chris", "Kevin", "Mike"]}
df = pd.DataFrame(data, index=["Store 1", "Store 1", "Store 2"])
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevin
Store 2   5.0      Bird Seed   Mike

In [26]:
df.columns

Index(['Cost', 'Item Purchased', 'Name'], dtype='object')

In [27]:
df.index

Index(['Store 1', 'Store 1', 'Store 2'], dtype='object')

Los tipos de datos se informan por colummna:

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Store 1 to Store 2
Data columns (total 3 columns):
Cost              3 non-null float64
Item Purchased    3 non-null object
Name              3 non-null object
dtypes: float64(1), object(2)
memory usage: 96.0+ bytes

Y tambi√©n existe aqu√≠ `shape` como en los arrays de NumPy:

In [5]:
df.shape

(3, 3)

###¬†Indexing & slicing

In [30]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevin
Store 2   5.0      Bird Seed   Mike

Usamos el operador de indexado con `loc` o `iloc` como en las series, indicando primero fila y luego columna.

In [31]:
df.loc['Store 2', 'Cost']

5.0

In [32]:
df.iloc[2,0]

5.0

No indicar columna equivale a seleccionar todas las columnas:

In [33]:
df.loc['Store 1']

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevin

Que es equivalente a:

In [34]:
df.loc['Store 1', :]

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevin

Para seleccionar todas las filas:

In [35]:
df.loc[:,"Cost"]

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

Una fila de un `DataFrame` es una `Series`:

In [39]:
print(type(df.loc['Store 2']))
df.loc['Store 2']

<class 'pandas.core.series.Series'>

Cost                      5
Item Purchased    Bird Seed
Name                   Mike
Name: Store 2, dtype: object

Tambi√©n una columna:

In [38]:
print(type(df.loc[:,'Cost']))
df.loc[:,'Cost']

<class 'pandas.core.series.Series'>

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

Se pueden indicar tanto rangos como listas de filas y columnas:

In [36]:
df.loc['Store 1', ['Cost', 'Name']]

         Cost   Name
Store 1  22.5  Chris
Store 1   2.5  Kevin

In [37]:
df.iloc[0:2, [0, 2]]

         Cost   Name
Store 1  22.5  Chris
Store 1   2.5  Kevin

Si usamos el operador de indexado directamente, Pandas entender√° que nos referimos a las columnas:

In [40]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [42]:
df.loc['Store 1'] # Da error

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevin

**Ojo cuidao.** Porque si hacemos slicing directamente con el operador de indexado, entonces no entender√° que queremos columnas, sino filas:

In [46]:
df.iloc[0:2]

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevin

<div class="alert alert-block alert-success">
    
**¬øConclusi√≥n? Usad `loc[]` o `iloc[]` siempre en lugar del operador de indexado `[]` directamente**

</div>

A√±adir filas o columnas es tan f√°cil como acceder a esas filas / columnas que no existen y darles valor:

In [47]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevin
Store 2   5.0      Bird Seed   Mike

In [48]:
df["Units"] = [3,4,6]
df

         Cost Item Purchased   Name  Units
Store 1  22.5       Dog Food  Chris      3
Store 1   2.5   Kitty Litter  Kevin      4
Store 2   5.0      Bird Seed   Mike      6

In [49]:
df.loc["Store 3"] = [3, "Cat Food", "Pepe", 2]

In [50]:
df

         Cost Item Purchased   Name  Units
Store 1  22.5       Dog Food  Chris      3
Store 1   2.5   Kitty Litter  Kevin      4
Store 2   5.0      Bird Seed   Mike      6
Store 3   3.0       Cat Food   Pepe      2

## Boolean indexing

Calcado al que aprendimos con NumPy. Aqu√≠ tambi√©n podemos usar listas de valores booleanos para indicar filas / columnas que seleccionar:

In [ ]:
df

In [ ]:
df.loc[[True,False,True],:]

In [ ]:
df[[True,False,True]]

In [ ]:
df.loc[:,[True,False,False]]

¬øCu√°l ser√≠a una apliaci√≥n pr√°ctica para esto? Lo vamos a ver con un ejemplo m√°s completo: cargamos un CSV de los Juegos Ol√≠mpicos para estos ejemplos. Recoge el medallero de distintos pa√≠ses en los JJOO de invierno, verano y la suma de ambos.

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

Le cambiamos el nombres a las columnas para que sea un poco m√°s legible:

In [ ]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='‚Ññ':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 
df.head()

¬øQu√© paises han ganado al menos una medalla de oro en alg√∫n juego de verano?

In [ ]:
df['Gold'] > 0

In [ ]:
countries_with_gold_in_summer = df[df['Gold'] > 0]
countries_with_gold_in_summer.head(5)

¬øQu√© pa√≠ses han ganado alguna medalla de oro en invierno y ninguna en verano?

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

Tambi√©n podemos seleccionar todos los valores de un DataFrame que cumplen una condici√≥n:

In [ ]:
df.head(5)

Por ejemplo, seleccionar todos aquellos valores iguales a cero. Esto ser√≠a la "m√°scara booleana":

In [ ]:
(df == 0).head(5)

Que al usarla sobre el dataframe, nos deja lo siguiente:

In [ ]:
(df[df > 0]).head(5) # Los valores en cuesti√≥n toman "NaN"

Podr√≠amos sustituirlos por otra cosa:

In [ ]:
df_modified = df.copy()
df_modified[df_modified == 0] = "Zero"
df_modified.head(5)

Podr√≠amos, por ejemplo, eliminar del dataframe todos aquellos registros que tengan al menos un valor en 0:

In [ ]:
df = df[df != 0]
df.head(5)

In [ ]:
df = df.dropna()
df.head(5)

In [ ]:
df.dropna?

## Ausencia de valores

En Python, `None` es un objeto que representa la ausencia de valor (como "null" en otros lenguajes):

In [ ]:
animals = ['Tigre', 'Oso', None]
pd.Series(animals)

NumPy y Pandas, en cambio, para valores numericos cambiar√°n ese `None` por `NaN` ("Not a Number"). A diferencia de `None`, que ser√≠a de tipo `object`, NaN es un valor especial que est√° definido como un n√∫mero en coma flotante ("float"), lo cual es interesante por razones de eficiencia computacional.

In [ ]:
numbers = [1, 2, None]
pd.Series(numbers)

**Pregunta:** ¬øQu√© devolvera el siguiente c√≥digo?

In [ ]:
None == None

Entonces... ?

In [ ]:
animals = pd.Series(['Tigre', 'Oso', None])
animals[animals == None]

**Pregunta:** ¬øQu√© devolver√° el siguiente c√≥digo?

In [ ]:
import numpy as np
np.nan == np.nan

Para evitar caer en este sindios, Pandas ofrece la funci√≥n de conveniencia `isna`, que tiene en cuenta todo:

In [ ]:
animals = pd.Series(['Tigre', 'Oso', None, np.nan])
animals

In [ ]:
animals.isna()

BUT...

In [ ]:
animals = pd.Series(['Tigre', 'Oso', None, np.nan, np.inf])
animals

In [ ]:
animals.isna()

Notice, however:

In [ ]:
animals = pd.Series(['Tigre', 'Oso', None, np.nan, np.inf, ""])
animals

In [ ]:
animals.isna()