<img src="mioti.png" style="height: 100px">
<center style="color:#888">Módulo Data Science in IoT<br/>Asignatura: Data preprocessing</center>

# Challenge S1: Introducción

# Objetivos

En este challenge nos enfrentaremos a un dataset con datos sobre inmuebles en California. Este dataset tiene la particularidad de poseer valores nulos/faltantes y outliers en algunas de sus variables. Por tanto, el objetivo es poner en práctica las técnicas que hemos visto en el worksheet para lidiar con estas situaciones.

# Configuración del entorno

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Carga de datos
Esta vez va a ser fácil, vamos a importar los datos de un fichero csv, utilizaremos la función read_csv que nos proporciona la libreria de pandas.

In [2]:
df = pd.read_csv('housing.csv')

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

# Valores nulos

En primer lugar, identifica aquellas columnas que tienen valores nulos/faltantes

Elige una de estas columnas para probar diferentes estrategias de manejo de valores nulos.

Primero, crea una copia de esta columna utilizando la estrategia de rellenado con la mediana.

Segundo, crea una copia de esta columna utilizando la estrategia de rellenado con media aritmética.

Tercero, crea una copia de esta columna utilizando la estrategia de rellenado con valor fijo de 0.

Cuarto, crea una copia de esta columna utilizando una nueva estrategia de rellenado que tú quieras y **justifica el motivo**.

Analiza el efecto de estas cuatro estrategias de rellenado con respecto a la variable original con valores nulos:

* ¿Qué diferencias observas en la distribución de valores de las variables rellenadas?
* ¿Cómo crees que pueden afectar los nuevos a algún análisis posterior?
* ¿Con qué estrategia te quedarías?

# Outliers

Ahora, vamos a realizar un estudio de outliers sobre nuestro conjunto de datos. 

En primer lugar, ¿se te ocurre alguna forma sencilla de ver que variables pueden contener outliers?

Selecciona una de estas variables y muestra un gráfico en el que sea evidente la presencia del outlier

Aplica el método de tukey visto en el Worksheet para filtrar el outlier.

Muestra el mismo gráfico de antes para tu variable sin esos outliers

Ahora, prueba a ejectuar el mismo método de tukey pero relajando la zona de outlier a $Q_3 + 3 \times IQR$.

Y pinta el mismo gráfico de antes para tu variable sin outliers

¿Qué diferencias observas en los resultados para los dos umbrales de tukey? ¿A qué crees que se debe?

Prueba un nuevo método de detección de outliers que encuentres por Internet y compáralo con los anteriores.